/* Make carousel control buttons transparent */
.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    border: none;
    filter: none;
}

/* Remove hover effect */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: transparent;
}

/* Remove blue focus border on control buttons */
.carousel-control-prev:focus,
.carousel-control-next:focus {
    outline: none;
    box-shadow: none;
}
